.contact_form{
    display: block;
    background-color: rgb(254, 252, 252);
    box-shadow: 1px 1px 3px 2px #ddd;
    margin: 40px auto;
    max-width: 600px;
    max-height: 900px;
    padding: 20px 50px;
    border-radius: 20px;
}

form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 8px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
}

form button{
    height: 75px;
    width: 155px;
    align-items: center;
    border: none;
    background-color: #6b6b84;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}
